<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" href="/app/css/app.css">
    <link rel="stylesheet" href="/app/css/jquery.vegas.css">
	<style>
		body 		{ padding-top:180px; }
	</style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-dark panel-flat">
                <div class="panel-heading text-center">
                    <a href="#">
                        <img src="app/img/logo.png" alt="Image" class="block-center img-rounded">
                    </a>
                </div>
                <div class="panel-body">
                    <p class="text-center pv">LOG IN TO CONTINUE.</p>

                    <form role="form">
                        <a href="/auth/facebook" class="btn btn-block btn-primary mt-lg"><span
                                    class="social_facebook"></span> Facebook</a>
                        <a href="/auth/google" class="btn btn-block btn-danger mt-lg"><span
                                    class="social_googleplus"></span> Google</a>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/app/js/jquery.vegas.js"></script>
<script language="JavaScript">
    $(function() {
        $.vegas({
            src:'/app/img/login-bg1.jpg'
        });
    });
</script>
</body>
</html>
