<!DOCTYPE html>
<html lang="en" data-ng-app="angle">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="{{app.description}}">
   <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
   <title data-ng-bind="pageTitle()">Angle - Angular Bootstrap Admin Template</title>
   <link rel="stylesheet" href="app/css/app.css" data-ng-if="!app.layout.isRTL">
   <link rel="stylesheet" href="app/css/app-rtl.css" data-ng-if="app.layout.isRTL">
   <link rel="stylesheet" href="app/css/custom.css">
</head>

<body data-ng-class="{ 'layout-fixed' : app.layout.isFixed, 'aside-collapsed' : app.layout.isCollapsed, 'layout-boxed' : app.layout.isBoxed }">
   <div data-ui-view="" data-autoscroll="false" data-ng-class="mainViewAnimation" class="wrapper"></div>
   <script src="app/js/base.js"></script>
   <script src="app/js/app.js"></script>
   <script src="/socket.io/socket.io.js"></script>
   <script src="vendor/angularsocket/socket.js"></script>
   <script src="vendor/underscore/underscore-min.js"></script>
   <script src="vendor/angular-underscore/angular-underscore.min.js"></script>
   <script src="app/js/Controllers/MessagesController.js"></script>
   <script src="app/js/Controllers/UserBlockController.js"></script>
   <script src="app/js/Controllers/GroupsController.js"></script>
   <script src="app/js/Controllers/InvitationsController.js"></script>
   <script src="app/js/Controllers/OutboundMessagesController.js"></script>
   <script src="app/js/Controllers/InboundMessagesController.js"></script>
   <script src="app/js/Controllers/TopNavbarController.js"></script>
   <script src="app/js/Services/UserService.js"></script>
   <script src="app/js/OutboundMessage/model.js"></script>
</body>

</html>
