<h3>{{ 'groups.HEADER' | translate }}</h3>
<div ng-controller="GroupsController" ng-init="init()">
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
<div class="row">
<div class="table-grid">
  <div class="col-md-3">
    <div class="pr" style="padding-right: 0px;">
      <div class="clearfix mb">
        <button type="button" ng-click="mailboxMenuCollapsed = !mailboxMenuCollapsed" ng-init="mailboxMenuCollapsed = true" class="btn btn-sm btn-default mb-toggle-button pull-right">
          <em class="fa fa-bars fa-fw fa-lg"></em>
        </button>
        <button type="button" ng-click="open('lg')" class="btn btn-purple btn-sm mb-compose-button">
          <em class="icon-users"></em>
          <span>Utwórz grupę</span>
        </button>
        <!--
         _       _______            _______ _______ _______         _______   ________________ _______ _______ _       _______________________
        ( (    /(  ____ |\     /|  (  ____ (  ____ (  ___  |\     /(  ____ )  \__   __(  ____ (       (  ____ ( \     (  ___  \__   __(  ____ \
        |  \  ( | (    \| )   ( |  | (    \| (    )| (   ) | )   ( | (    )|     ) (  | (    \| () () | (    )| (     | (   ) |  ) (  | (    \/
        |   \ | | (__   | | _ | |  | |     | (____)| |   | | |   | | (____)|     | |  | (__   | || || | (____)| |     | (___) |  | |  | (__
        | (\ \) |  __)  | |( )| |  | | ____|     __| |   | | |   | |  _____)     | |  |  __)  | |(_)| |  _____| |     |  ___  |  | |  |  __)
        | | \   | (     | || || |  | | \_  | (\ (  | |   | | |   | | (           | |  | (     | |   | | (     | |     | (   ) |  | |  | (
        | )  \  | (____/| () () |  | (___) | ) \ \_| (___) | (___) | )           | |  | (____/| )   ( | )     | (____/| )   ( |  | |  | (____/\
        |/    )_(_______(_______)  (_______|/   \__(_______(_______|/            )_(  (_______|/     \|/      (_______|/     \|  )_(  (_______/

        -->
        <script type="text/ng-template" id="/createGroup.html">
          <form name="newGroupForm" validate-form novalidate>
            <div class="modal-header">
              <h4 id="myModalLabel" class="modal-title">{{ 'groups.CREATE_GROUP' | translate }}</h4></div>
            <div class="modal-body">
              <div class="form-group">
                <label class="control-label">{{'groups.GRADE_NAME' | translate}}</label>
                <input type="text" placeholder="{{'common.NAME_PLACEHOLDER' | translate}}" ng-model="newGroup.name"
                       class="form-control" ng-minlength="3" required/>
              </div>
              <div class="form-group">
                <label>{{'groups.SCHOOL_NAME' | translate}}</label>
                <input type="text" placeholder="{{'common.NAME_PLACEHOLDER' | translate}}" class="form-control"
                       ng-model="newGroup.description" ng-minlength="3" required/>
              </div>
            </div>
            <div class="modal-footer">
              <button ng-click="cancel()" class="btn btn-warning">{{'common.CANCEL' | translate}}</button>
              <button type="submit" ng-click="ok()" class="btn btn-primary" ng-disabled="newGroupForm.$invalid">
                {{'common.CREATE' |
                translate}}
              </button>
            </div>
          </form>
        </script>

        <script type="text/ng-template" id="/inviteParent.html">
          <form name="newParentForm" validate-form novalidate>
            <div class="modal-header">
              <h4 class="modal-title">Zaproś rodzica/opiekuna</h4></div>
            <div class="modal-body">
              <div class="form-group">
                <label class="control-label">E-mail</label>
                <input type="email" placeholder="{{'common.NAME_PLACEHOLDER' | translate}}" ng-model="newParent.parentEmail"
                       class="form-control" ng-minlength="3" required/>
              </div>
              <div class="form-group">
                <label class="control-label">Telefon</label>
                <input type="text" placeholder="{{'common.NAME_PLACEHOLDER' | translate}}" class="form-control"
                       ng-model="newParent.parentPhoneNumber" ng-minlength="3"/>
              </div>
            </div>
            <div class="modal-footer">
              <button ng-click="cancel()" class="btn btn-warning">{{'common.CANCEL' | translate}}</button>
              <button type="submit" ng-click="ok()" class="btn btn-primary" ng-disabled="newParentForm.$invalid">
                Zaproś
              </button>
            </div>
          </form>
        </script>
        <!-- --------------------------------------------------------------------------------------------------------- -->
      </div>
      <!-- START mailbox list-->
      <div collapse="mailboxMenuCollapsed" class="mb-boxes">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="input-group">
              <input type="text" ng-model="groupFilterText" placeholder="Filtruj grupy" class="form-control" />
                     <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                        </button>
                     </span>
            </div>
          </div>
          <div class="panel-body" style="padding-top: 0px !important;">
            <span ng-show="groupsNotFound = (!groups.length || groups.length === 0)">{{'groups.NO_GRADES' | translate}}</span>
            <span ng-show="filterNoResult = (!groupsNotFound && filteredGroups.length == 0)">{{'groups.NO_GRADES_MATCH' | translate}}</span>
            <ul class="nav nav-pills nav-stacked" ng-show="groups.length && groups.length > 0">
              <li ng-repeat="group in filteredGroups = (groups | filter : groupFilterText)" ng-class="{'active': group._id === activeGroup.id}">
                <a href="#" ng-click="openGroup(group)">
                  <!--span class="label label-success pull-right">10</span-->
                  <em class="fa icon-arrow-right fa-fw fa-lg"></em>
                  <span>{{group.name}}</span>
                </a>
              </li>
            </ul>

          </div>
        </div>
      </div>
      <!-- END mailbox list-->
    </div>
  </div>
  <div class="col-md-9" ng-show="activeGroup">
        <div class="hidden">{{info = headerInfo()}}</div>
        <div class="panel widget">
          <div class="row row-table">
            <div class="col-md-4 col-sm-3 col-xs-6 pv br bg-info">
              <div class="h1 m0 text-bold">{{activeGroup.groupName}}</div>
              <div class="text-uppercase">{{activeGroup.schoolName}}</div>
            </div>
            <div class="col-md-2 col-sm-3 hidden-xs pv text-center br">
              <span class="h2 m0">{{info.students}}</span>
              <br>
              <span class="text-uppercase">Uczniów</span>
              <br>
              <span format="a" class="text-muted text-sm">W GRUPIE</span>
            </div>
            <div class="col-md-2 hidden-sm hidden-xs pv text-center br">
              <span class="h2 m0">{{info.parents}}</span>
              <br>
              <span class="text-uppercase">Opiekunów</span>
              <br>
              <span format="a" class="text-muted text-sm">ZAPROSZONYCH</span>
            </div>
            <div class="col-md-2 col-sm-3 hidden-xs pv text-center br">
                <span class="h2 m0">{{info.acceptations}}/{{info.parents}}</span>
                <br>
                <span class="text-uppercase">Zaproszenia</span>
                <br>
                <span format="a" class="text-muted text-sm">POTWIERDZONE</span>
            </div>
            <div class="col-md-2 hidden-sm hidden-xs pv text-center br">
              <span class="h2 m0">0</span>
              <br>
              <span class="text-uppercase">Uczniów</span>
              <br>
              <span format="a" class="text-muted text-sm">BEZ POTWIERDZENIA</span>
            </div>
          </div>
</div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Zaproś do grupy ucznia wraz z jego opiekunem</h3>
        </div>
      <div class="panel-body">
        <form role="form" name="inviteMemberForm" validate-form novalidate>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label>{{"groups.STUDENT_FIRST_NAME" | translate}}</label>
              <input type="text" placeholder="{{'common.FIRST_NAME' | translate }}" class="form-control" ng-minlength="2" ng-model="newStudent.firstName" required/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>{{"groups.STUDENT_LAST_NAME" | translate}}</label>
              <input type="text" placeholder="{{'common.LAST_NAME' | translate }}" class="form-control" ng-minlength="3" ng-model="newStudent.lastName" required/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>E-mail do opiekuna</label>
              <input id="input-email" type="email" placeholder="{{'common.EMAIL_PLACEHOLDER' | translate }}" class="form-control" ng-model="newStudent.parentEmail" required/>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label>Telefon do opiekuna (opcjonalne)</label>
              <input id="input-name" type="text" placeholder="{{'common.PHONE_NUMBER' | translate }}" class="form-control" ng-minlength="7" ng-model="newStudent.parentPhoneNumber"/>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
          </div>
          <div class="col-md-3">
              <button type="submit" class="form-control" ng-click="invite()" class="btn btn-default"  ng-disabled="inviteMemberForm.$invalid">{{'groups.INVITE' | translate}}</button>
          </div>
        </div>

        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="jumbotron" ng-hide="activeGroup && activeGroup.students">
          <h1>Gratulacje! Udało się Tobie utworzyć grupę i zostałeś/aś jej Mistrzem.</h1>
          <p>Natomiast jaki byłby z Ciebie mistrz, gdybyś nie zaczał budowć wokół siebie grona uczniów?
            Zrób to zatem i już teraz zaproś pierwszego ucznia. Nie zapomnij o jego opiekunie!</p>
          <p><a role="button" class="btn btn-primary btn-lg">Zaproś pierwszego ucznia!</a>
          </p>
        </div>
      </div>
    </div>

    <div class="panel panel-default" ng-show="activeGroup && activeGroup.students">
      <div class="panel-body" >
        <form role="form" class="form-inline ng-pristine ng-valid">
          <div class="form-group">
            <label for="input-email" class="sr-only">Email address</label>
            <input ng-model="studentsFilterText" placeholder="Filtruj listę uczniów" class="form-control">
          </div>
        </form>
        </div>
        <div class="table-responsive">
          <table id="table-members" class="table" >
            <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Uczeń/Rodzice/Opiekunowie</th>
              <th>E-mail</th>
              <th>Telefon</th>
              <th>Akceptacja</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="student in activeGroup.students | filter : studentsFilterText | orderBy: 'lastName' : false" class="table-odd">
              <td class="text-center">
                <div dropdown="dropdown" class="btn-group mb-sm open no-bottom-margin">
                  <button type="button" ng-disabled="disabled" class="btn dropdown-toggle btn-info" aria-haspopup="true" aria-expanded="true">
                    <span class="fa fa-list-ul"></span>
                  </button>
                  <ul role="menu" class="dropdown-menu">
                    <li><a href="#" ng-click="inviteParent('lg', activeGroup.id, student.id)" >Zaproś rodzica/opiekuna</a>
                    </li>
                    <li><a href="#">Edytuj dane ucznia</a>
                    </li>
                    <li><a href="#">Wypisz ucznia z klasy</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#">Edytuj dane rodzica/opiekuna</a>
                    </li>
                    <li><a href="#">Usuń rodziców/opiekunów</a>
                    </li>
                  </ul>
                </div>
              </td>
              <td colspan="3">
                <h4>{{student.firstName}} {{student.lastName}}</h4>

              </td>
              <td class="text-right">
                <button popover-title="Uczniowie bez potwierdzenia pupuka" popover="{{message.confirmationInfo.studentsWithoutConfirmation.join(', ')}}" popover-trigger="mouseenter" type="button" ng-disabled="disabled" ng-click="checkAcceptations('md', message.students)" class="btn dropdown-toggle btn-default" aria-haspopup="true" aria-expanded="true">
                  <span class=""><b>1/1</b></span>
                </button>
                <button ng-click="showDetails = ! showDetails" type="button" class="btn dropdown-toggle btn-default" aria-haspopup="true" aria-expanded="true">
                  <span class="fa fa-angle-double-down"></span>
                </button>
              </td>
            </tr>
            <tr ng-repeat="parent in student.parents" ng-show="showDetails">
              <td>
                <div class="checkbox c-checkbox">
                  <label>
                    <input type="checkbox">
                    <span class="fa fa-check"></span>
                  </label>
                </div>
              </td>
              <td>{{parent.parentName ? parent.parentName : '(brak danych)'}}</td>
              <td>{{parent.parentEmail}}</td>
              <td>{{parent.parentPhoneNumber}}</td>
              <td>

                <div ng-show="parent.invitationAccepted" class="pull-left btn bg-success btn-sm full-width">Zaakceptowane</div>
                <div ng-hide="parent.invitationAccepted" class="pull-left btn bg-danger btn-sm full-width">Niezaakceptowane</div>
              </td>
            </tr>
            <tr ng-repeat-end></tr>
            </tbody>
          </table>
        </div>

      <!-- START table-responsive-->

      <!-- END table-responsive-->
    </div>
  </div>
</div>
</div>
</div>
