<h3>{{ 'inboundMessages.HEADER' | translate }}</h3>
  <!-- START panel-->
  <div ng-controller="InboundMessagesController" ng-init="init()">
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <span ng-show="messagesNotFound = (!messages || messages.length === 0)">{{"invitations.INVITATIONS_NOT_FOUND" | translate}}</span>
      <div class="panel panel-default" ng-hide="messagesNotFound">
        <div class="panel-body">
          <div class="form-inline">
            <div class="pull-left">
              <label style="padding-right: 10px" class="form-group">Pukpuki za ostatni</label>
              <div class="btn-group">
                <label ng-model="radioModel" btn-radio="'Left'" class="btn btn-default">Tydzień</label>
                <label ng-model="radioModel" btn-radio="'Middle'" class="btn btn-default">Miesiąc</label>
                <label ng-model="radioModel" btn-radio="'Right'" class="btn btn-default">Rok</label>
              </div>
            </div>
            <div class="input-group pull-right">
              <input type="text" ng-model="studentsFilterText" placeholder="Filtruj pukpuki"
                     class="form-control ng-pristine ng-valid">
               <span class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
               </span>
            </div>
          </div>
        </div>

      <div class="table-responsive">

        <table id="table-inbound-messages" class="table table-striped table-bordered table-hover top-margin-md">
          <thead>
          <tr>
            <th class="text-center">{{"common.RECEIVING_DATE" | translate}}</th>
            <th></th>
            <th class="text-center">{{"common.CONFIRMATION" | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="message in messages | filter : groupFilterText | orderBy : 'creationDate' : true">
            <td class="text-center">{{message.creationDate | date:'yyyy-MM-dd'}}</br>{{message.creationDate | date:'HH:mm:ss'}}</td>
            <td>
              <div class="media">
                <div class="pull-right">{{message.ownerName}}</div>
                <a href="#" class="pull-left">
                  <img src="app/img/user/01.jpg" alt="" class="media-object img-responsive img-circle" />
                </a>
                <div class="media-body">
                  <h4 class="media-heading">{{message.subject}}</h4>
                  <button type="button" class="btn btn-xs bg-success">{{message.groupName}}</button>
                  <button type="button" class="btn btn-xs bg-success">{{message.groupName}}</button>
                  <p style="margin-top: 20px;">{{message.text}}</p>
                </div>
              </div>
            </td>
            <td class="text-center">
              <label class="switch">
                <input type="checkbox" ng-model="message.confirmed" ng-disabled="message.confirmed" ng-change="confirmReading(message)"/>
                <span></span>
              </label>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- END table-responsive-->
    </div>
      </div>
    <!-- END panel-->
  </div>
