<h3>{{"invitations.HEADER" | translate}}</h3>
<!-- START panel-->
<div ng-controller="InvitationsController" ng-init="init()">
<toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
  <span ng-show="invitationsNotFound = (!invitations || invitations.length === 0)">{{"invitations.INVITATIONS_NOT_FOUND" | translate}}</span>
  <div class="panel panel-default" ng-hide="invitationsNotFound">
      <div class="panel-body">
     <!-- START table-responsive-->
     <div class="table-responsive">
        <div class="row">
            <div class="col-md-3">
             <div class="input-group">
                 <input type="text" ng-model="invitationFilterText" placeholder="{{'invitations.FILTER_OUT_INVITATIONS' | translate}}" class="form-control" />
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </span>
             </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-3"></div>
        </div>
        <table id="table-invitations" class="table table-striped table-bordered table-hover top-margin-md">
            <thead>
                <tr>
                    <th class="text-center">{{"common.RECEIVING_DATE" | translate}}</th>
                    <th>Prowadzący</th>
                    <th>Klasa</th>
                    <th>Szkoła</th>
                    <th>Uczeń</th>
                    <th class="text-center">Aktywacja</th>
                </tr>
            </thead>
           <tbody>
              <tr ng-repeat="invitation in invitations | orderBy:'creationDate': true | filter : invitationFilterText" ng-class="{'animated pulse' : invitation.new}">
                <td class="text-center">{{invitation.invitationDate | date:'yyyy-MM-dd'}}</td>
                <td>
                  {{invitation.teacherName}}
                </td>
                <td>
                  {{invitation.groupName}} <button ng-show="invitation.new" type="button" class="btn btn-primary btn-xs">Nowe</button>
                </td>
                <td>
                  {{invitation.schoolName}}
                </td>
                <td>
                  {{invitation.studentFirstName}}&nbsp;{{invitation.studentLastName}}
                </td>
                 <td class="text-center">
                    <label class="switch">
                       <input type="checkbox" ng-model="invitation.invitationAccepted" ng-change="acceptanceChange(invitation)"/>
                       <span></span>
                    </label>
                 </td>
              </tr>
           </tbody>
        </table>
     </div>
          </div>
     <!-- END table-responsive-->
  </div>
<!-- END panel-->
</div>
<!--
  /$$$$$$  /$$$$$$  /$$$$$$ /$$$$$$$$/$$$$$$$ /$$$$$$$$       /$$$$$$$$/$$      /$$/$$$$$$$ /$$
 /$$__  $$/$$__  $$/$$__  $| $$_____| $$__  $|__  $$__/      |__  $$__| $$$    /$$| $$__  $| $$
| $$  \ $| $$  \__| $$  \__| $$     | $$  \ $$  | $$            | $$  | $$$$  /$$$| $$  \ $| $$
| $$$$$$$| $$     | $$     | $$$$$  | $$$$$$$/  | $$            | $$  | $$ $$/$$ $| $$$$$$$| $$
| $$__  $| $$     | $$     | $$__/  | $$____/   | $$            | $$  | $$  $$$| $| $$____/| $$
| $$  | $| $$    $| $$    $| $$     | $$        | $$            | $$  | $$\  $ | $| $$     | $$
| $$  | $|  $$$$$$|  $$$$$$| $$$$$$$| $$        | $$            | $$  | $$ \/  | $| $$     | $$$$$$$$
|__/  |__/\______/ \______/|________|__/        |__/            |__/  |__/     |__|__/     |________/
-->
<script type="text/ng-template" id="/acceptance.html">
  <form name="acceptanceForm" validate-form novalidate>
    <div class="modal-header">
      <h4 class="modal-title" ng-show="acceptanceStatus">Akceptacja zaproszenia</h4>
      <h4 class="modal-title" ng-hide="acceptanceStatus">Rezygnacja z zaproszenia</h4>
    </div>
    <div class="modal-body">
      <p ng-show="acceptanceStatus">Akceptacja zaproszenia oznacza, iż wyrażasz zgodę na otrzymywanie wiadomości od opiekuna klasy {{groupName}}.</p>
      <p ng-hide="acceptanceStatus">Rezygnacja z zaproszenia oznacza, iż nie będziesz już odtrzymywać wiadomości od opiekuna klasy {{groupName}}.</p>
    </div>
    <div class="modal-footer">
      <button ng-click="cancel()" class="btn btn-warning">{{'common.CANCEL' | translate}}</button>
      <button type="submit" ng-click="ok()" class="btn btn-primary" ng-disabled="newGroupForm.$invalid">
        Potwierdź
      </button>
    </div>
  </form>
</script>
