<h3>{{ 'messages.HEADER' | translate }}</h3>
<div class="table-grid">
  <div class="col col-md groups-sticky-menu-width">
    <div id="groups-sticky-menu" class="pr">
      <div class="clearfix mb">
        <button type="button" ng-click="mailboxMenuCollapsed = !mailboxMenuCollapsed" ng-init="mailboxMenuCollapsed = true" class="btn btn-sm btn-default mb-toggle-button pull-right">
          <em class="fa fa-bars fa-fw fa-lg"></em>
        </button>
        <button type="button" class="btn btn-purple btn-sm mb-compose-button">
          <em class="fa fa-pencil"></em>
          <span>{{ 'common.COMPOSE' | translate }}</span>
        </button>
      </div>
      <!-- START mailbox list-->
      <div collapse="mailboxMenuCollapsed" class="mb-boxes">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="input-group">
              <input type="text" placeholder="{{'messages.FILTER_OUT_GROUPS' | translate}}" class="form-control input-sm" />
                     <span class="input-group-btn">
                        <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-search"></i>
                        </button>
                     </span>
            </div>
          </div>
          <div class="panel-body" style="padding-top: 0px !important;">
            <ul class="nav nav-pills nav-stacked">
              <li class="p">
                <small class="text-muted">{{ 'messages.GROUPS' | translate }}</small>
              </li>
              <li class="active">
                <a href="#">
                  <span class="label label-primary pull-right">42</span>
                  <em class="fa icon-arrow-right fa-fw fa-lg"></em>
                  <span>{{ 'messages.ALL_GROUPS' | translate }}</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="label label-success pull-right">10</span>
                  <em class="fa icon-arrow-right fa-fw fa-lg"></em>
                  <span>KLASA 1a</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="label label-danger pull-right">2</span>
                  <em class="fa icon-arrow-right fa-fw fa-lg"></em>
                  <span>KLASA 1b</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="label label-warning pull-right">5</span>
                  <em class="fa icon-arrow-right fa-fw fa-lg"></em>
                  <span>KLASA 2a</span>
                </a>
              </li>
              <li>
                <a href="#">
                  <span class="label label-green pull-right">12</span>
                  <em class="fa icon-arrow-right fa-fw fa-lg"></em>
                  <span>KLASA 2b</span>
                </a>
              </li>
              <li class="p">
                <small class="text-muted">Labels</small>
              </li>
              <li class="p-h">
                <a href="#" class="pv-sm">
                  <span class="circle circle-danger"></span>
                  <span>Red</span>
                </a>
              </li>
              <li>
                <a href="#" class="pv-sm">
                  <span class="circle circle-pink"></span>
                  <span>Pink</span>
                </a>
              </li>
              <li>
                <a href="#" class="pv-sm">
                  <span class="circle circle-info"></span>
                  <span>Blue</span>
                </a>
              </li>
              <li>
                <a href="#" class="pv-sm">
                  <span class="circle circle-warning"></span>
                  <span>Yellow</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- END mailbox list-->
    </div>
  </div>
  <div class="col">
    <!-- START action buttons-->
    <div class="clearfix mb">
      <div class="btn-group pull-left">
        <button type="button" class="btn btn-default btn-sm">
          <em class="fa text-gray-dark">Tydzień</em>
        </button>
        <button type="button" class="btn btn-default btn-sm">
          <em class="fa text-gray-dark">2 Tygodnie</em>
        </button>
        <button type="button" class="btn btn-default btn-sm">
          <em class="fa text-gray-dark">3 Tygodnie</em>
        </button>
        <button type="button" class="btn btn-default btn-sm">
          <em class="fa text-gray-dark">Miesiąc</em>
        </button>
      </div>
    </div>
    <!-- END action buttons-->
    <!-- START Mails-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="input-group">
          <input type="text" placeholder="{{'messages.FILTER_OUT_MESSAGES' | translate}}" class="form-control input-sm" />
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
      <div class="panel-body">
        <table class="table table-hover mb-mails">
          <tbody>
          <tr class="mb-mail-active">
            <td class="text-center">
              <em class="fa fa-check fa-lg text-green">12</em>
            </td>
            <td class="text-center">
              <em class="fa fa-question fa-lg text-warning">12</em>
            </td>
            <td>
              <div class="mb-mail-date">22 kw 2014 10:30pm</div>
              <div class="pull-left">
                <div class="mb-mail-from">Klasa 1a</div>
                <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
              </div>
              <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <em class="fa fa-check fa-lg text-green">12</em>
            </td>
            <td class="text-center">
              <em class="fa fa-times fa-lg text-warning">12</em>
            </td>
            <td>
              <div class="mb-mail-date">22 kw 2014 10:30pm</div>
              <div class="pull-left">
                <div class="mb-mail-from">Klasa 1b</div>
                <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
              </div>
              <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
            </td>
          </tr>
          <tr>
            <td class="text-center">
              <span class="label label-success">2</span>
            </td>
            <td class="text-center">
              <span class="label label-danger">2</span>
            </td>
            <td>
              <div class="mb-mail-date">10:30pm</div>
              <div class="pull-left">
                <div class="mb-mail-from">Klasa 2b</div>
                <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
              </div>
              <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
            </td>
          </tr>
          <tr class="mb-mail-active">
            <td>
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" checked="checked" />
                  <span class="fa fa-check"></span>
                </label>
              </div>
            </td>
            <td class="text-center">
              <em class="fa fa-star fa-lg text-warning"></em>
            </td>
            <td>
              <div class="mb-mail-date">10:30pm</div>
              <img src="app/img/user/01.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
              <div class="pull-left">
                <div class="mb-mail-from">Antonio Griffin</div>
                <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
              </div>
              <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" />
                  <span class="fa fa-check"></span>
                </label>
              </div>
            </td>
            <td class="text-center">
              <em class="fa fa-star-o fa-lg text-muted"></em>
            </td>
            <td>
              <div class="mb-mail-date">10:30pm</div>
              <img src="app/img/user/02.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
              <div class="pull-left">
                <div class="mb-mail-from">Bernard Elliott</div>
                <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
              </div>
              <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" />
                  <span class="fa fa-check"></span>
                </label>
              </div>
            </td>
            <td class="text-center">
              <em class="fa fa-star-o fa-lg text-muted"></em>
            </td>
            <td>
              <div class="mb-mail-date">10:30pm</div>
              <img src="app/img/user/03.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
              <div class="pull-left">
                <div class="mb-mail-from">Alfredo Fletcher</div>
                <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
              </div>
              <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" />
                  <span class="fa fa-check"></span>
                </label>
              </div>
            </td>
            <td class="text-center">
              <em class="fa fa-star-o fa-lg text-muted"></em>
            </td>
            <td>
              <div class="mb-mail-date">10:30pm</div>
              <img src="app/img/user/04.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
              <div class="pull-left">
                <div class="mb-mail-from">Mitchell Burke</div>
                <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
              </div>
              <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" />
                  <span class="fa fa-check"></span>
                </label>
              </div>
            </td>
            <td class="text-center">
              <em class="fa fa-star-o fa-lg text-muted"></em>
            </td>
            <td>
              <div class="mb-mail-date">10:30pm</div>
              <img src="app/img/user/05.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
              <div class="pull-left">
                <div class="mb-mail-from">Joel Miles</div>
                <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
              </div>
              <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" />
                  <span class="fa fa-check"></span>
                </label>
              </div>
            </td>
            <td class="text-center">
              <em class="fa fa-star-o fa-lg text-muted"></em>
            </td>
            <td>
              <div class="mb-mail-date">10:30pm</div>
              <img src="app/img/user/06.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
              <div class="pull-left">
                <div class="mb-mail-from">Alyssa Kim</div>
                <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
              </div>
              <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" />
                  <span class="fa fa-check"></span>
                </label>
              </div>
            </td>
            <td class="text-center">
              <em class="fa fa-star-o fa-lg text-muted"></em>
            </td>
            <td>
              <div class="mb-mail-date">10:30pm</div>
              <img src="app/img/user/07.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
              <div class="pull-left">
                <div class="mb-mail-from">Jim Cruz</div>
                <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
              </div>
              <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" />
                  <span class="fa fa-check"></span>
                </label>
              </div>
            </td>
            <td class="text-center">
              <em class="fa fa-star-o fa-lg text-muted"></em>
            </td>
            <td>
              <div class="mb-mail-date">10:30pm</div>
              <img src="app/img/user/08.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
              <div class="pull-left">
                <div class="mb-mail-from">Rebecca Griffin</div>
                <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
              </div>
              <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" />
                  <span class="fa fa-check"></span>
                </label>
              </div>
            </td>
            <td class="text-center">
              <em class="fa fa-star-o fa-lg text-muted"></em>
            </td>
            <td>
              <div class="mb-mail-date">10:30pm</div>
              <img src="app/img/user/09.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
              <div class="pull-left">
                <div class="mb-mail-from">Gwendolyn Wood</div>
                <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
              </div>
              <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" />
                  <span class="fa fa-check"></span>
                </label>
              </div>
            </td>
            <td class="text-center">
              <em class="fa fa-star-o fa-lg text-muted"></em>
            </td>
            <td>
              <div class="mb-mail-date">10:30pm</div>
              <img src="app/img/user/10.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
              <div class="pull-left">
                <div class="mb-mail-from">Bobbie Fox</div>
                <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
              </div>
              <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="checkbox c-checkbox">
                <label>
                  <input type="checkbox" />
                  <span class="fa fa-check"></span>
                </label>
              </div>
            </td>
            <td class="text-center">
              <em class="fa fa-star-o fa-lg text-muted"></em>
            </td>
            <td>
              <div class="mb-mail-date">10:30pm</div>
              <img src="app/img/user/11.jpg" alt="Mail Avatar" class="mb-mail-avatar" />
              <div class="pull-left">
                <div class="mb-mail-from">Elizabeth Castillo</div>
                <div class="mb-mail-subject">Sed fringilla molestie convallis.</div>
              </div>
              <div class="mb-mail-preview">Mauris hendrerit nibh eu nisi congue dapibus. Quisque pharetra, arcu a consectetur aliquet, mi enim porta enim, quis sodales nisl justo et justo...</div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- END Mails-->
  </div>
</div>
