<h3>{{ 'outboundMessages.HEADER' | translate }}</h3>
<div ng-controller="OutboundMessagesController" ng-init="init()">
  <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
  <div class="row">
    <div class="table-grid">
      <div class="col-md-3">
        <div class="pr" style="padding-right: 0px;">
          <div class="clearfix mb">
            <button type="button" ng-click="mailboxMenuCollapsed = !mailboxMenuCollapsed" ng-init="mailboxMenuCollapsed = true" class="btn btn-sm btn-default mb-toggle-button pull-right">
              <em class="fa fa-bars fa-fw fa-lg"></em>
            </button>
            <button type="button" ng-click="open('lg')" class="btn btn-purple btn-sm mb-compose-button" ng-disabled="hasActiveMembers">
              <em class="icon-envelope-open"></em>
              <span>{{ 'outboundMessages.CREATE_OUTBOUND_MESSAGE' | translate }}</span>
            </button>
            <!-- --------------------------------------------------------------------------------------------------------- -->
            <!-- NEW MESSAGE FORM
            <!-- --------------------------------------------------------------------------------------------------------- -->
            <script type="text/ng-template" id="/createGroup.html">
              <form name="newMessageForm" validate-form novalidate>
                <div class="modal-header">
                  <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                  <h4 id="myModalLabel" class="modal-title">{{ 'outboundMessages.CREATE_OUTBOUND_MESSAGE' | translate }}</h4></div>
                <div class="modal-body">
                  <div class="form-group">
                    <label class="control-label">{{'outboundMessages.MESSAGE_SUBJECT' | translate}}</label>
                    <input type="text" placeholder="{{'outboundMessages.MESSAGE_SUBJECT_PLACEHOLDER' | translate}}" ng-model="newMessage.messageSubject"
                           class="form-control" ng-minlength="3" required/>
                  </div>
                  <div class="form-group">
                    <label>{{'outboundMessages.MESSAGE_TEXT' | translate}}</label>
                    <textarea class="form-control" placeholder="{{'outboundMessages.MESSAGE_TEXT_PLACEHOLDER' | translate}}" rows="10" ng-model="newMessage.messageText" ng-minlength="3"  required></textarea>
                  </div>
                </div>
                <div class="modal-footer">
                  <button ng-click="cancel()" class="btn btn-warning">{{'common.CANCEL' | translate}}</button>
                  <button type="submit" ng-click="ok()" class="btn btn-primary" ng-disabled="newMessageForm.$invalid">
                    {{'common.CREATE' |
                    translate}}
                  </button>
                </div>
              </form>
            </script>
            <!-- --------------------------------------------------------------------------------------------------------- -->
            <!-- END OF NEW MESSAGE FORM
            <!-- --------------------------------------------------------------------------------------------------------- -->
            <script type="text/ng-template" id="/checkAcceptations.html">
              <form name="newMessageForm" validate-form novalidate>
                <div class="modal-header">
                  <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                  <h4 class="modal-title">Potwierdzenia wiadomości</h4></div>
                <div class="modal-body" style="padding: 0px;">
                  <table id="table-acceptance-report" class="table">
                    <thead>
                    <tr>
                      <th>Uczeń/Rodzice/Opiekunowie</th>
                      <th class="text-center">Potwierdzenie</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat-start="student in items | filter : studentsFilterText | orderBy: 'lastName' : false" class="table-odd">
                      <td>
                        <h4>{{student.firstName}} {{student.lastName}}</h4>

                      </td>
                      <td class="text-center">

                      </td>
                    </tr>
                    <tr ng-repeat="parent in student.parents">

                      <td>{{parent.parentName ? parent.parentName : '(brak danych)'}}</td>
                      <td>

                        <div ng-show="parent.confirmationDate" class="pull-left btn bg-success btn-sm full-width">Potwierdzone</div>
                        <div ng-hide="parent.confirmationDate" class="pull-left btn bg-danger btn-sm full-width">Niepotwierdzone</div>
                      </td>
                    </tr>
                    <tr ng-repeat-end></tr>
                    </tbody>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="submit" ng-click="ok()" class="btn btn-default" ng-disabled="newMessageForm.$invalid">
                    Zamknij
                  </button>
                </div>
              </form>
            </script>
          </div>
          <!-- START mailbox list-->
          <div collapse="mailboxMenuCollapsed" class="mb-boxes">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="input-group">
                  <input type="text" ng-model="groupFilterText" placeholder="{{'groups.FILTER_OUT_GROUPS' | translate}}" class="form-control" />
                     <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                        </button>
                     </span>
                </div>
              </div>
              <div class="panel-body" style="padding-top: 0px !important;">
                <span ng-show="groupsNotFound = (!groups.length || groups.length === 0)">{{'groups.NO_GRADES' | translate}}</span>
                <span ng-show="filterNoResult = (!groupsNotFound && filteredGroups.length == 0)">{{'groups.NO_GRADES_MATCH' | translate}}</span>
                <ul class="nav nav-pills nav-stacked" ng-show="groups.length && groups.length > 0">
                  <li ng-repeat="group in filteredGroups = (groups | filter : groupFilterText)" ng-class="{'active': group._id === activeGroup._id}">
                    <a href="#" ng-click="openGroup(group)" >
                      <!--span class="label label-success pull-right">10</span-->
                      <em class="fa icon-arrow-right fa-fw fa-lg"></em>
                      <span>{{group.name}}</span>
                    </a>
                  </li>
                </ul>

              </div>
            </div>
          </div>
          <!-- END mailbox list-->
        </div>
      </div>
      <div class="col-md-9" ng-show="activeGroup">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-inline">
              <div class="pull-left">
                <label style="padding-right: 10px" class="form-group">Pukpuki za ostatni</label>
                <div class="btn-group">
                  <label ng-model="radioModel" btn-radio="'Left'" class="btn btn-default">Tydzień</label>
                  <label ng-model="radioModel" btn-radio="'Middle'" class="btn btn-default">Miesiąc</label>
                  <label ng-model="radioModel" btn-radio="'Right'" class="btn btn-default">Rok</label>
                </div>
              </div>
              <div class="input-group pull-right">
                <input type="text" ng-model="studentsFilterText" placeholder="Filtruj pukpuki"
                       class="form-control ng-pristine ng-valid">
               <span class="input-group-btn">
                  <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
               </span>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table id="table-outbound-messages" class="table">
              <thead>
              <tr>
                <th class="text-center">Data</th>
                <th>Temat/Treść pukpuka</th>
                <th class="text-center" title="Potwierdzenia">Potw.</th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat-start="message in messages | orderBy:'creationDate': true | filter : studentsFilterText" class="table-odd">
                <td class="text-center">
                  <h4>{{message.creationDate | date:'yyyy-MM-dd'}}</h4>
                </td>
                <td colspan="1">
                  <h4>{{message.subject}}</h4>
                </td>
                <td>
                    <button popover-title="Uczniowie bez potwierdzenia pupuka" popover="{{message.confirmationInfo.studentsWithoutConfirmation.join(', ')}}" popover-trigger="mouseenter" type="button" ng-disabled="disabled" ng-click="checkAcceptations('md', message.students)" class="btn dropdown-toggle btn-default" aria-haspopup="true" aria-expanded="true">
                      <span class=""><b>{{message.confirmationInfo.confirmedRecipients}}/{{message.confirmationInfo.allRecipients}}</b></span>
                    </button>

                </td>
                <td class="text-center">
                    <button ng-click="showDetails = ! showDetails" type="button" class="btn dropdown-toggle btn-info" aria-haspopup="true" aria-expanded="true">
                      <span class="fa fa-angle-double-down"></span>
                    </button>
                </td>
              </tr>
              <tr ng-show="showDetails">
                <td>

                </td>
                <td colspan="3">
                  <p>{{message.text}}</p>
                  <p>
                    <button type="button" class="btn btn-success btn-xs" style="width: 150px; margin-right: 10px">Potwierdzone</button>
                    {{message.confirmationInfo.studentsWithConfirmation.join(', ')}}
                  </p>
                  <p>
                    <button type="button" class="btn btn-danger btn-xs" style="width: 150px; margin-right: 10px">Niepotwierdzone</button>
                    {{message.confirmationInfo.studentsWithoutConfirmation.join(', ')}}
                  </p>
                </td>
              </tr>
              <tr ng-repeat-end></tr>
              </tbody>
            </table>
          </div>

          <!-- START table-responsive-->

          <!-- END table-responsive-->
        </div>
      </div>
    </div>
  </div>
</div>
