@charset "UTF-8";
body{
  overflow-y: scroll !important;
}

label.switch{
  margin-top: 8px;
  margin-bottom: 0px;
}

.full-width {
  width: 100%;
}

.no-bottom-margin{
  margin-bottom: 0px !important;
}
.table-odd{
  background-color: #fafbfc;
}

.top-margin-md{
  margin-top: 20px;
}


#table-members tbody{
  border: none !important;
}

#table-members th:nth-child(1) {
width: 7%;
}

#table-members th:nth-child(2) {
  width: 25%;
}

#table-members th:nth-child(4) {
  width: 15%;
}

#table-members th:nth-child(5) {
  width: 15%;
}

#table-members th:nth-child(6) {
  width: 1%;
}

#parents-list td:nth-child(1) {
  width: 26%;
}

#parents-list td:nth-child(3) {
  width: 15%;
}

#parents-list td:nth-child(4) {
  width: 17%;
}

#parents-list td:nth-child(5) {
  width: 14%;
}

#table-invitations th:nth-child(1) {
  width: 10%;
}

#table-invitations th:nth-child(2) {
  width: 15%;
}
#table-invitations th:nth-child(3) {
  width: 15%;
}
#table-invitations th:nth-child(4) {
  width: 20%;
}
#table-invitations th:nth-child(6) {
  width: 7%;
}

#table-outbound-messages th:nth-child(1) {
  width: 10%;
}

#table-inbound-messages th:nth-child(1) {
  width: 10%;
}

#table-inbound-messages th:nth-child(3) {
  width: 10%;
}

#table-outbound-messages tbody{
  border: none !important;
}

#table-outbound-messages th:nth-child(1) {
  width: 15%;
}

#table-outbound-messages th:nth-child(3) {
  width: 5%;
}

#table-outbound-messages th:nth-child(4) {
  width: 5%;
}

#table-acceptance-report th:nth-child(2) {
  width: 10%;
}
