<!-- Inline template with sidebar items markup and ng-directives-->
<script type="text/ng-template" id="sidebar-renderer.html">
   <span ng-if="item.heading" translate="{{item.translate}}">{{item.text}}</span><a ui-sref="{{item.sref}}" title="{{item.text}}" ng-if="!item.heading"><em ng-hide="inSubmenu" class="{{item.icon}}"></em><div ng-if="item.alert" class="label label-success pull-right">{{item.alert}}</div><span translate="{{item.translate}}">{{item.text}}</span></a><ul ng-if="item.submenu" collapse="isCollapse($index)" ng-init="addCollapse($index, item)" ng-click="$event.stopPropagation();" class="nav sidebar-subnav"><li translate="{{item.translate}}" class="sidebar-subnav-header">{{item.text}}</li><li ng-repeat="item in item.submenu" ng-include="'sidebar-renderer.html'" ng-class="getMenuItemPropClasses(item)" ng-init="inSubmenu = true"></li></ul>
</script>
<!-- START Sidebar (left)-->
<div class="aside-inner">
   <nav sidebar="" class="sidebar">
      <!-- START sidebar nav-->
      <ul class="nav">
         <!-- START user info-->
         <li class="has-user-block">
            <div collapse="userBlockVisible" ng-controller="UserBlockController" ng-init="init()">
               <div class="item user-block">
                  <!-- User picture-->
                  <div class="user-block-picture">
                     <div class="user-block-status">
                        <img ng-src="{{profile.photoUrl}}" alt="Avatar" width="60" height="60" class="img-thumbnail img-circle" />
                        <div class="circle circle-success circle-lg"></div>
                     </div>
                  </div>
                  <!-- Name and Job-->
                  <div class="user-block-info">
                     <span class="user-block-name">{{ 'sidebar.WELCOME' | translate }} {{profile.name}}</span>
                  </div>
               </div>
            </div>
         </li>
         <!-- END user info-->
         <!-- Iterates over all sidebar items-->
         <li ng-class="getMenuItemPropClasses(item)" ng-repeat="item in menuItems" ng-include="'sidebar-renderer.html'" ng-click="toggleCollapse($index)"></li>
      </ul>
      <!-- END sidebar nav-->
   </nav>
</div>
<!-- END Sidebar (left)-->
